.head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border-bottom: 2px solid var(--font-color);
}

.head svg {
  font-size: 1.7rem;
  vertical-align: middle;
}
